<div th:fragment="deleteModal"
     class="modal fade"
     id="deleteModal"
     tabindex="-1"
     aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitleLabel">Delete User</h5>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <form action="/admin/delete" method="post" id="deleteForm">
                    <div class="mb-3 text-center">
                        <label for="modalInputId" class=""><b>Id</b></label>
                        <input type="text" class="form-control mx-auto" id="modalInputId" name="userId" readonly>
                    </div>
                    <div class="mb-3 text-center">
                        <label for="modalInputName" class="form-label"><b>Name</b></label>
                        <input type="email" class="form-control" id="modalInputName" name="name" disabled>
                    </div>
                    <div class="mb-3 text-center">
                        <label for="modalInputPhonenumber" class="form-label"><b>Phone Number</b></label>
                        <input type="text" class="form-control" id="modalInputPhonenumber" name="phonenumber" disabled>
                    </div>
                </form>
            </div>
            <div class="mb-3 w-100 d-flex justify-content-end modal-footer">
                <button type="button" class="btn btn-secondary mt-3 me-1" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger mt-3 me-1" form="deleteForm">Delete</button>
            </div>
        </div>
    </div>
</div>
