<div th:fragment="editModal"
     class="modal fade"
     id="edituserModal"
     tabindex="-1"
     aria-labelledby="editModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalTitleLabel">Edit User</h5>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <form action="/admin/update" method="post" id="editForm" th:object="${updateuser}">
                    <div class="mb-3 text-center">
                        <label for="editmodalInputId" class=""><b>Id</b></label>
                        <input type="text" class="form-control mx-auto" id="editmodalInputId" name="userId"
                               th:field="${updateuser.id}" readonly>
                    </div>
                    <div class="mb-3 text-center">
                        <label for="editmodalInputName" class="form-label"><b>Name</b></label>
                        <input type="text" class="form-control" id="editmodalInputName" name="name"
                               th:field="${updateuser.username}">
                    </div>
                    <div class="mb-3 text-center">
                        <label for="editmodalInputPhonenumber" class="form-label"><b>Phone Number</b></label>
                        <input type="text" class="form-control" id="editmodalInputPhonenumber" name="phonenumber"
                               th:field="${updateuser.phone_number}">
                    </div>
                </form>
            </div>
            <div class="mb-3 w-100 d-flex justify-content-end modal-footer">
                <button type="button" class="btn btn-secondary mt-3 me-1" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary mt-3 me-1" form="editForm">Edit</button>
            </div>
        </div>
    </div>
</div>
