<div th:fragment="navigationTabs">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item " role="tab">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#usertable"
                    type="button"
            id="usersTableTabButton">
                Users table
            </button>
        </li>
        <li class="nav-item" role="tab">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#newusertab" type="button">
                New user
            </button>
        </li>
    </ul>
</div>