<div th:fragment="UserInfoContent"
     class="border border-1 bg-white"
     id="userInfoTable">
    <div class="border-bottom border-1 bg-light p-3">
        <h5 class="text-dark">About user</h5>
    </div>
    <div class="m-3">
        <table class="table table-striped border-top border-1 ">
            <thead class="text-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Phonenumber</th>
            <th>Role</th>
            </thead>
            <tbody class="text-dark">
            <tr>
                <!--/*@thymesVar id="userInfo" type="web.model.User"*/-->
                <td th:text="${userInfo.id}"></td>
                <td th:text="${userInfo.username}"></td>
                <td th:text="${userInfo.phone_number}"></td>
                <td>
                    <span th:each="tdrole: ${userInfo.authorities}">
                        <span th:text="${tdrole.authority}"></span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
