<div th:fragment="userTableTabContent"
     class="tab-pane fade show active border border-1 bg-white"
     id="usertable"
     role="tabpanel">
    <div class="border-bottom border-1 bg-light p-3">
        <h5 class="text-dark">All users</h5>
    </div>
    <div class="m-3">
        <table class="table table-striped border-top border-1 ">
            <thead class="text-dark">
            <th>id</th>
            <th>name</th>
            <th>phonenumber</th>
            <th></th>
            <th></th>
            </thead>
            <tbody class="text-dark">
            <!--/*@thymesVar id="userlist" type="java.util.List<web.model.User>"*/-->
            <tr th:each="user : ${userlist}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.phone_number}"></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            th:data-id="${user.id}"
                            th:data-name="${user.username}"
                            th:data-phonenumber="${user.phone_number}">
                        delete
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#edituserModal"
                            th:data-id="${user.id}"
                            th:data-name="${user.username}"
                            th:data-phonenumber="${user.phone_number}">
                        edit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
